<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/main.css" />
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<h1>회원목록</h1>
<table>
    <tr>
        <td>회원번호</td>
        <td>아이디</td>
        <td>비밀번호</td>
        <td>이름</td>
        <td>이메일</td>
        <td>수정</td>
        <td>삭제</td>
    </tr>
    <tr th:each="m : ${member}">
        <td th:text="${m.m_no}"></td>
        <td th:text="${m.m_id}"></td>
        <td th:text="${m.m_pw}"></td>
        <td th:text="${m.m_name}"></td>
        <td th:text="${m.m_email}"></td>
        <td>
            <a th:href="@{/modify(m_no=${m.m_no})}">수정</a>
        </td>
        <td>
            <a th:href="@{/delete(m_no=${m.m_no})}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>
